body {
	margin: 0;
	color:#000;
	font-size: 16px;
	font-family: "calibri"
}
h3 {
	font-family: Alex Brush, cursive ;
	color: #242342;
	font-size: 16px;

}

h1 {
	font-family: Impact, Charcoal, sans-serif;
	color: #242342;
	font-size:32px;
}

h2 {
	font-family: Impact, Charcoal, sans-serif;
	color: #242342;
	font-size:16px;
}

button{
	background-color: #FE6F2B;
	color: #fff;
	font-size: 16px;
}


.container {
	background-color: #EBEBEC;
	height: 300px;
}

.container .main-intro {
	width: 50%;
	margin: auto;
	padding-top: 10px;

}

.profile {
	width: 50%;
	margin: auto;
	font-family: "calibri";
	font-size: 36px;
	text-align: center;
	color: #242342;

}

.profile-content{
	width: 50%;
	margin: auto;
	font-size: 16px;
	color: #000;
	font-family: "calibri";

}

.profile-content a{
	text-decoration: none;
	color: #FE6F2B;
}

.education-container {
	width: 50%;
	margin: auto;
	

}

.education-container .education-content{
	width: 500px;
	padding-left: 200px ;
	display: inline;
}

.education-container .education-content2{
	width: 500px;
	padding-left: 150px ;
	display: inline;
}

.experience {
	height: auto;
	background-color: #D2CFD8
	

}

.education-content .content-header {
	font-family: Impact, Charcoal, sans-serif;
	color: #242342;
	font-size:12px;
	display: inline-flex;

}


#intro ul {
	padding: 0;
	list-style: none;
}

#intro li {
	display: inline;
}

#floatlist {
	float: right;
}

#tagline {
	font-family: Arial, Helvetica, sans-serif;
	color: #FE6F2B;
	font-size: 12px;
}


#contacts ul{
	list-style: none;
	padding: 0
}

#contacts li{
	display: inline;
}

#contacts a{
	padding-right: 5px;
	padding-left: 20px;
	float: right;
}

#listcontent {
	font-size: 12px;
	color: #000;
	font-family: "calibri";

}
#skills ul {
	list-style: none;
	padding: 0;
}
#skills li {
	display: inline;
	padding-right: 15px;
}

#footer {
	background-color: #242342;
	color: #fff;
	height: 100px;
}
#footer-content {
	width: 50%
	margin:auto;
	text-align: center;
}

#button {
	background-color: #FE6F2B;
	color: #fff;
	border: none;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	font-size: 16px;

}